:root {
    --NMColour: rgb(172, 172, 172);
    --HDColour: rgb(254, 154, 36);
    --HRColour: rgb(254, 36, 86);
    --DTColour: rgb(36, 231, 254);
    --FMColour: rgb(255, 77, 186);
    --TBColour: rgb(36, 254, 67);
  
    --NMColour-60: rgb(69, 69, 69);
    --HDColour-60: rgb(102, 59, 14);
    --HRColour-60: rgb(102, 14, 34);
    --DTColour-60: rgb(14, 93, 102);
    --FMColour-60: rgb(102, 25, 74);
    --TBColour-60: rgb(14, 102, 28);
    --white-60: rgb(102, 102, 102);
  
    --NMColour-80: rgb(34, 34, 34);
    --HDColour-80: rgb(51, 29, 7);
    --HRColour-80: rgb(51, 7, 17);
    --DTColour-80: rgb(7, 46, 51);
    --FMColour-80: rgb(51, 12, 37);
    --TBColour-80: rgb(7, 51, 14);
    --white-80: rgb(51, 51, 51);

    --protectColour: rgb(145, 70, 255);
    --banColour: rgb(254, 36, 86);
    --pickColour: rgb(150, 195, 71);
}

#main { background-image: url("static/background.png"); }

/* ----- TOP SECTION ----- */
/* --- Large White Star --- */
#whiteStarLarge {
    position: absolute; top: 145px; left: 134px;
}
/* --- Mappool Text Container --- */
#mappoolTextContainer {
    position: absolute; left: 256px;
    width: 190px; height: 213px;
    border-radius: 0 0 21px 21px;
    background-color: var(--HRColour);
}
#mapText {
    position: absolute; top: 110px; left: 37px;
    font-size: 79px;
    letter-spacing: 6px;
}
#poolText {
    position: absolute; top: 110px; left: 217px;
    font-size: 79px;
    letter-spacing: 17px;
}
/* --- Team Sections --- */
/* Team Section */
.teamSection {
    position: absolute; top: 77px;
    width: 550px; height: 125px;
}
#redTeam { left: 792px; }
#blueTeam { right: 792px; }
/* Team Flag */
.teamFlag {
    width: 181px; height: 131px;
    border-radius: 15px;
    background-position: center;
    background-size: cover;
}
#blueTeamFlag { position: absolute; top: 0; right: 0; }
/* Team Bar */
.teamBar {
    position: absolute; top: 4px;
    width: 168px; height: 18px;
    border-radius: 18px;
}
.teamLeftDetail { left: 212px; }
.teamRightDetail { right: 212px; }
#redTeamBar { background-color: var(--mainRed); }
#blueTeamBar { background-color: var(--mainBlue); }
/* Team Name */
.teamName {
    position: absolute; top: 28px; 
    font-size: 63px;
    letter-spacing: 2px;
    text-wrap: nowrap;
}
/* Team Stars */
.teamStars { position: absolute; top: 97px; }
.teamStars > * { 
    margin-right: 17.1px;
    width: 28.8px; height: 27px;
}
#redTeamStars { left: 212px; }
#blueTeamStars { right: 212px; }
#blueTeamStars > * {
    margin-left: 17.1px;
    margin-right: 0;
}
/* --- Middle Score --- */
#teamMiddleStar {
    position: absolute; top: 87px; left: 50%; transform:translateX(-50%);
    font-size: 95px;
}
#teamMiddleStarDash { margin: 0 55px; }
/* --- Logo --- */
#logo {
    position: absolute; top: 96px; right: 103px;
    width: 343px;
}


/* ----- MAPPOOL SECTION ----- */
#mappool {
    position: absolute; top: 300px;
    width: 100%; height: 1480px;
}
/* --- Rectangles ---- */
#modHeaderRectangles > * { position: absolute; }
.leftSideModRectangle {
    left: 0;
    width: 32px; height: 53px;
    border-radius: 0px 5px 5px 0px;
}
#NMRectangle {
    top: 95px; 
    background-color: var(--NMColour);
}
#HDRectangle {
    top: 458px;
    background-color: var(--HDColour);
}
#HRRectangle {
    top: 458px; left: 1906px;
    width: 24px; height: 53px;
    background-color: var(--HRColour);
    border-radius: 5px;
}
#DTRectangle {
    top: 821px; 
    background-color: var(--DTColour);
}
#FMRectangle {
    top: 1179px; 
    background-color: var(--FMColour);
}
#TBRectangle {
    top: 856px; left: 2587px;
    width: 23px; height: 283px;
    background-color: var(--TBColour);
    border-radius: 5px;
}
/* --- Header --- */
#modHeaderNames { font-size: 49px; }
#modHeaderNames > * {
    position: absolute;
    letter-spacing: 3.5px;
}
.leftSideModHeader { left: 55px; }
#NMHeader { top: 95px; }
#HDHeader { top: 458px; }
#HRHeader { 
    top: 458px; 
    left: 1952px;
}
#DTHeader { top: 821px; }
#FMHeader { top: 1179px; }
#TBHeader { 
    top: 979px; 
    left: 2634px;
}

/* --- Card Containers --- */
#FiveNMMapContainer { 
    top: 30px; left: 158px; 
    width: 3580px;
}
.ThreeCardNormalContainer {
    position: absolute;
    width: 1680px;
    display: flex; justify-content: space-between;
}
#SixNMMapContainer1 { top: 30px; left: 158px; }
#SixNMMapContainer2 { top: 30px; left: 2050px; }
#HDMapContainer { top: 394px; left: 158px; }
#HRMapContainer { top: 394px; left: 2050px; }
.DTandFMMapContainer {
    position: absolute; left: 158px;
    width: 2285px;
    display: flex; justify-content: space-between;
}
#DTMapContainer { top: 757px; }
#FMMapContainer { top: 1118px; }

/* --- Map Card Containers --- */
.mapCard {
    position: relative;
    height: 264px;
    border-radius: 17px 17px 0 0;
}
.normalMapCard { width: 474px;  }
.nmExtendedMapCard { width: 530px; }
.bottom3MapsMapCard { width: 658px; }
.fm2MapsMapCard { width: 1032px; }
.TBContainer {
    position: absolute; top: 836px; left: 2739px;
    width: 955px; height: 528px;
    border-radius: 17px 17px 0 0;
}


/* --- Pick Ban Protect Elements --- */
.pickBanProtectElement {
    position: absolute; top: -46px;
    width: inherit; height: 36px;
    border-radius: 18px;
    background-color: var(--pickColour);
    box-shadow: 0 0 20px var(--pickColour);
    display: none;
}
#tiebreakerTriggeredElement {
    top: -92px;
    height: 72px;
    border-radius: 36px;
    background-color: transparent;
    box-shadow: 0 0 20px transparent;
}
/* Pick Ban Protect Flag */
.pickBanProtectFlag {
    position: absolute; top: 50%; left: 15px; transform: translateY(-50%);
    width: 41.5px; height: 30px;
    background-size: cover;
    background-position: center;
}
/* Pick Ban Protecxt Text */
.pickBanProtectText {
    position: absolute; left: 70px; top: 50%; transform: translateY(-40%);
    font-size: 30px;
    letter-spacing: 2.5px;
}
#tiebreakerTriggeredText {
    position: absolute; left: 50%; top: 50%; transform: translate(-50%, -40%);
    width: max-content;
    font-size: 60px;
    letter-spacing: 10px;
    text-shadow: 0 0 20px var(--TBColour-60),
                 0 0 30px var(--TBColour-80);
    color: var(--TBColour)
}
/* Pick Ban Protecxt SVG */
.pickBanProtectSVG {
    position: absolute; right: 15px; top: 50%; transform: translateY(-50%);
}

/* --- Map Card Rectangles --- */
.mapCardRectangle {
    position: absolute; bottom: -15px; left: -36px;
    width: 69px; height: 155px;
    background-color: rgb(22,22,22);
    border-radius: 10px;
}
#tbCardRectangle {
    position: absolute; bottom: -30px; left: -72px;
    width: 138px; height: 310px;
    background-color: rgb(22,22,22);
    border-radius: 10px;
}

/* --- Map Card Images --- */
.mapCardImage {
    position: absolute; width: 100%; height: 160px;
    border-radius: inherit;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}
#tbMapCardImage {
    height: 320px;
}
.mapCardLayer {
    position: absolute; width: 100%; height: 100%;
    background-color: rgba(0,0,0,0.5);
    border-radius: inherit;
}

/* --- Map Card Name --- */
.mapCardName {
    position: relative; top: 179px;
    font-size: 50px;
    letter-spacing: 0.4px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}
#tbMapCardName {
    top: 358px;
    font-size: 100px;
    letter-spacing: 0.8px;
}

/* --- Map Card Difficulty --- */
.normalMapCardDifficulty {
    position: absolute; top: 223px;
    font-size: 36px;
    letter-spacing: 1.3px;
}
#tbMapCardDifficulty {
    position: absolute; top: 446px;
    font-size: 72px;
    letter-spacing: 2.6px;
}

/* --- Map Card Mod --- */
.normalMapCardMod {
    position: absolute; bottom: 0; right: 10px;
    font-size: 64px;
    letter-spacing: 2.5px;
}
#tbMapCardMod {
    position: absolute; bottom: 0; right: 20px;
    font-size: 128px;
    letter-spacing: 5px;
    text-shadow: 0 0 60px var(--TBColour-60),
                 0 0 70px var(--TBColour-80);
    color: var(--TBColour);
}

/* ----- BOTTOM SECTION ----- */
/* --- Chat --- */
.chatMessageContainer {
    margin-left: 50px;
    margin-top: 7.5px;
    margin-bottom: 5.5px;
    font-size: 36px;
}
.chatDisplayTime {
    color: darkgray;
    width: 11%;
}
.chatDisplayWholeMessage { width: 89%; }
.chatDisplayMessage {
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
}
.bot { color: hotpink;}
.unknown { color: yellow; }
.left { color: var(--mainRed); }
.right { color: var(--mainBlue); }

/* ----- SIDE BAR ----- */
#sideBar {
    position: absolute; top: 0; left: 3840px;
    width: 500px; height: 2160px;
    background-color: rgb(25,23,23);
    color: white;
    font-family: "Coluna Rounded";
}
.sideBarButton {
    width: 400px;
    font-family: "Coluna Rounded";
    border: 5px solid white;
    border-radius: 37.5px;
    background-color: transparent;
    color: white;
    letter-spacing: 2px;
    font-size: 40px;
}
.sideBarButton:active {
    background-color: white;
    color: rgb(25,23,23);
}
/* --- Next Action --- */
#nextPickerSection {
    position: absolute; top: 50px; left: 50px;
    width: 400px;
}
#nextPickerText {
    width: inherit;
    font-size: 55px;
}
#nextPickerTeam {
    font-size: 120px;
    color: var(--mainRed)
}
.nextPickerButton {
    height: 75px;
    margin: 10px 0;
    line-height: 75px;
}
/* --- Side Bar Button --- */
#toggleAutoPickButton {
    position: absolute; top: 500px; left: 50px;
    height: 200px;  
    border-color: var(--banColour);
    line-height: 200px;
}
#toggleAutoPickText { color: var(--banColour) }

/* ----- SCROLLBAR -----*/
::-webkit-scrollbar { display: none; }
