/* --- Twitch Chat --- */
#twitchChatContainer {
    position: absolute; bottom: 25px; left: 300px;
    width: 1220px; height: 280px;
    border-radius: 50px;
    background-color: rgb(30,30,30);
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
}
#twitchChatContainer::-webkit-scrollbar { display: none; }
.twitchChatMessageContainer {
    margin-left: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.flagIconsContainer { display: flex; }
.flagImage {
    width: 50px; height: 50px;
    margin-right: 10px;
}
.messageDetail {
    line-height: 50px;
    font-size: 36px;
    letter-spacing: 2px;
}
.messageUser {
    color:rgb(255, 145, 170);
    margin-right: 20px;
}
.chatMessage {
    color: white;
    letter-spacing: 2px;
    word-wrap: break-word;
}