#main {  background-image: url("static/background.png"); }

/* ----- TOP SECTION ----- */
/* --- Round Name --- */
#roundName {
    position: absolute; top: 105px; left: 165px;
    font-size: 95px;
}
/* --- Team Sections --- */
/* Team Section */
.teamSection {
    position: absolute; top: 64px;
    width: 550px; height: 125px;
}
#redTeam { left: 750px; }
#blueTeam { right: 750px; }
/* Team Flag */
.teamFlag {
    width: 237px; height: 171PX;
    border-radius: 27px;
    background-position: center;
    background-size: cover;
}
#blueTeamFlag { position: absolute; top: 0; right: 0; }
/* Team Bar */
.teamBar {
    position: absolute; top: 6px;
    width: 252px; height: 27px;
    border-radius: 27px;
}
.teamLeftDetail { left: 269px; }
.teamRightDetail { right: 269px; }
#redTeamBar { background-color: var(--mainRed); }
#blueTeamBar { background-color: var(--mainBlue); }
/* Team Name */
.teamName {
    position: absolute; top: 46px;
    font-size: 88px;
    letter-spacing: 0.2px;
    text-wrap: nowrap;
    display: inline-block;
    width: 600px;
}
#blueTeamName { text-align: right; }
/* Team Stars */
.teamStars { 
    display: flex;
    position: absolute; top: 144px; 
}
.teamStars > * { 
    margin-right: 17.1px;
    width: 28.8px; height: 27px;
}
#blueTeamStars > * {
    margin-left: 17.1px;
    margin-right: 0;
}
/* --- Middle Score --- */
#teamMiddleStar {
    position: absolute; top: 80px; left: 50%; transform:translateX(-50%);
    font-size: 140px;
}
#teamMiddleStarDash { margin: 0 180px; }
/* --- Logo --- */
#logo {
    position: absolute; top: 88px; right: 86px;
    width: 400px;
}

/* ----- BOTTOM SECTION ----- */
#bottom {
    height: 425px;
}
/* --- Chat --- */
#chatRectangle { left: 97px; }
#chatText { left: 150px; }
#chatContainer {
    height: 370px;
    transition: 500ms ease-in-out;
}
.chatContainer {
    position: absolute; top: 0; left: 0;
    width: inherit; height: inherit;
    transition: 500ms ease-in-out;
    overflow-y: scroll;
}
#tournamentChatContainer { opacity: 1; }
#twitchChatContainer { opacity: 0; }
.chatMessageContainer {
    margin-left: 50px;
    margin-top: 7.5px;
    margin-bottom: 5.5px;
    font-size: 36px;
}
.chatDisplayTime {
    color: darkgray;
    width: 11%;
}
.chatDisplayWholeMessage { width: 89%; }
.chatDisplayMessage {
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
}
.bot { color: hotpink;}
.unknown { color: yellow; }
.left { color: var(--mainRed); }
.right { color: var(--mainBlue); }

/* Twitch Chat */
.twitchChatMessageContainer {
    margin-left: 50px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 36px;
}
.flagIconsContainer { display: flex; }
.flagImage {
    width: 40px; height: 40px;
    margin-right: 10px;
}
.messageDetail {
    line-height: 40px;
    font-size: 35px;
    letter-spacing: 2px;
}
.messageUser {
    color:rgb(255, 145, 170);
    margin-right: 20px;
}
.chatMessage {
    color: white;
    letter-spacing: 2px;
    word-wrap: break-word;
}

/* --- Moving Score Bars --- */
#movingScoreBars {
    position: absolute; top: -5px;
    width: inherit; height: 18px;
}
/* Moving Score Bar Colours */
.movingScoreBar {
    position: absolute; 
    width: 1920px; height: inherit;
    transition: 500ms ease-in-out;
}
#movingScoreBarRed { right: 50%; }
#movingScoreBarBlue { left: 50%; }
/* Moving Score Bar Arrows */
.movingScoreBarArrow {
    position: absolute;
    height: 18px;
    transition: 200ms ease-in-out;
}
#movingScoreBarRedArrow {
    right: 967px;
    transform: scaleX(-1);
}
#movingScoreBarBlueArrow { left: 967px; }
/* Moving Score Bar Rectangles */
.movingScoreBarRectangle {
    position: absolute;
    width: 936px; height: inherit;
    clip-path: polygon(100% 0%, 100% 100%, 0% 100%, 7px 9px, 7px 0%);
    border-radius: 0 18px 18px 0;
    transition: 200ms ease-in-out;
}
#movingScoreBarRedRectangle {
    right: 27px;
    background-color: var(--mainRed);
    transform: scaleX(-1);
}
#movingScoreBarBlueRectangle {
    left: 27px;
    background-color: var(--mainBlue);
}
/* Moving Score Bar Star */
#movingScoreBarStar {
    position: absolute; top: -19px; left: 50%; transform: translateX(-50%);
}
/* Moving Score Bar Circle */
#movingScoreBarCircle {
    position: absolute; top: 65px; left: 50%;
    transform: translateX(-50%); width: 7px; height: 7px;
    border-radius: 50%;
    background-color: white;
}
/* --- Playing Scores --- */
.playingScore {
    position: absolute; top: 52px;
    font-size: 143px;
    width: 960px;
    text-align: center;
}
#playingScoreRed { left: 960px; }
#playingScoreBlue { right: 960px; }
#scoreText {
    position: absolute; top: 80px; left: 50%; transform: translateX(-50%);
    font-size: 91px;
}
#playingScoreDifference {
    position: absolute; top: 278px; left: 50%; transform: translateX(-50%);
    font-size: 73px;
    transition: 200ms ease-in-out;
}
/* --- Sponsors --- */
#sponsors {
    position: absolute; top: 271px; left: 1000px;
    height: 77px;
}
#momokaiSponsor {
    position: absolute; top: unset; left: unset;
    height: 77px;
}
#bluebunnySponsorImage { height: 77px; }
#blueberrySponsor {
    position: absolute; top: unset; left: unset;
    height: 52px;
    display: flex;
}
#bluebunnySponsorText {
    font-family: Montserrat;
    line-height: 77px;
    font-size: 54px;
    margin-left: 10px;
}
/* --- Now Playing New --- */
#nowPlaying {
    position: absolute; right: 0;
    width: 850px; height: inherit;
    background-position: center;
    background-size: cover;
}
#nowPlayingLayer {
    position: absolute; top: 0; left: 0;
    width: inherit; height: inherit;
    border-radius: inherit;
    background-color: rgba(0,0,0,0.7);
}
/* Now Playing Mod */
#nowPlayingMod {
    position: absolute; top: 45px; left: 64px;
    font-size: 64px;
}
/* Now Playing Picked By */
#pickedBy { display: none; }
#pickedByText {
    position: absolute; top: 43px; right: 157px; 
    font-size: 66px;
    letter-spacing: -0.5px;
}
#pickedByFlag {
    position: absolute; top: 43px; right: 38px;
    width: 101px; height: 73px; 
    border-radius: 16px;
    background-size: cover;
    background-position: center;
}
/* Now Playing Song Name and Artist */
.nowPlayingSongDetails {
    position: absolute; left: 50%; transform: translateX(-50%);
    width: 700px; height: 96px; 
    overflow: hidden;
    text-align: center;
}
.nowPlayingSongDetailsText {
    display: inline-block;
    white-space: nowrap;
}
/* Now Playing Song Name */
#nowPlayingSongNameWrapper { top: 162px; }
#nowPlayingSongName { font-size: 75px; }
.nowPlayingSongWrap {
    transform: translate(700px);
    animation: displaySlide 12s linear infinite;
}
@keyframes displaySlide {
    0% {transform: translate(0px);}
    11% {transform: translate(0px);}
    80% { transform: translate(calc(-100% + 700px)); }
    100% { transform: translate(calc(-100% + 700px)); }
}
/* Now Playing Song Difficulty */
#nowPlayingArtistWrapper { top: 236px; }
#nowPlayingArtistName {
    font-size: 58px;
    letter-spacing: 3px;
}
/* Now Playing Stats */
/* Now Playing Stats */
#nowPlayingStats {
    position: absolute; bottom: 0; left: 0;
    width: inherit; height: 80px;
    display: flex;
    justify-content: space-evenly;
}
#nowPlayingStats > * {
    font-size: 55px;
    line-height: 85px;
    letter-spacing: 2px;
}
#nowPlayingStatsSR { color: gold; }

/* ----- SIDE BAR ----- */
#sideBar {
    position: absolute; top: 0; left: 3840px;
    width: 500px; height: 2160px;
    background-color: rgb(25,23,23);
    color: white;
    font-family: "Coluna Rounded";
}
.sideBarButton {
    width: 400px;
    font-family: "Coluna Rounded";
    border: 5px solid white;
    border-radius: 37.5px;
    background-color: transparent;
    color: white;
    letter-spacing: 2px;
    font-size: 40px;
}
.sideBarButton:active {
    background-color: white;
    color: rgb(25,23,23);
}
/* --- Next Action --- */
/* Current Section*/
.navBarSection {
    position: absolute; left: 50px;
    width: 400px;
}
#currentPickerSection { top: 50px; }
/* Header Text */
.currentHeaderText {
    width: inherit;
    font-size: 55px;
}
/* Current information */
#currentPickerTeam {
    font-size: 120px;
    color: var(--mainRed)
}
/* Buttons */
.currentPickerButton {
    height: 75px;
    margin: 10px 0;
    line-height: 75px;
}
/* --- Side Bar Button --- */
#toggleAutoPickButton {
    position: absolute; top: 500px; left: 50px;
    height: 200px;  
    border-color: var(--banColour);
    line-height: 200px;
}
#toggleAutoPickText { color: var(--banColour) }

/* ----- SCROLLBAR -----*/
::-webkit-scrollbar { display: none; }
