#main {  background-image: url("static/background.png"); }

/* ----- TOP SECTION ----- */
/* --- Round Name --- */
#roundName {
    position: absolute; top: 105px; left: 165px;
    font-size: 95px;
}
/* --- Team Sections --- */
/* Team Section */
.teamSection {
    position: absolute; top: 64px;
    width: 550px; height: 125px;
}
#redTeam { left: 750px; }
#blueTeam { right: 750px; }
/* Team Flag */
.teamFlag {
    width: 237px; height: 171PX;
    border-radius: 27px;
    background-position: center;
    background-size: cover;
}
#blueTeamFlag { position: absolute; top: 0; right: 0; }
/* Team Bar */
.teamBar {
    position: absolute; top: 6px;
    width: 252px; height: 27px;
    border-radius: 27px;
}
.teamLeftDetail { left: 269px; }
.teamRightDetail { right: 269px; }
#redTeamBar { background-color: var(--mainRed); }
#blueTeamBar { background-color: var(--mainBlue); }
/* Team Name */
.teamName {
    position: absolute; top: 46px;
    font-size: 88px;
    letter-spacing: 0.2px;
    text-wrap: nowrap;
}
/* Team Stars */
.teamStars { 
    display: flex;
    position: absolute; top: 144px; 
}
.teamStars > * { 
    margin-right: 17.1px;
    width: 28.8px; height: 27px;
}
#blueTeamStars > * {
    margin-left: 17.1px;
    margin-right: 0;
}
/* --- Middle Score --- */
#teamMiddleStar {
    position: absolute; top: 80px; left: 50%; transform:translateX(-50%);
    font-size: 140px;
}
#teamMiddleStarDash { margin: 0 180px; }
/* --- Logo --- */
#logo {
    position: absolute; top: 88px; right: 86px;
    width: 400px;
}

/* ----- BOTTOM SECTION ----- */
#bottom {
    height: 425px;
}
/* --- Chat --- */
#chatRectangle { left: 97px; }
#chatText { left: 150px; }
#chatContainer {
    height: 370px;
    transition: 500ms ease-in-out;
}
.chatContainer {
    position: absolute; top: 0; left: 0;
    width: inherit; height: inherit;
    transition: 500ms ease-in-out;
}
#tournamentChatContainer { opacity: 1; }
#twitchChatContainer { opacity: 0; }
.chatMessageContainer {
    margin-left: 50px;
    margin-top: 7.5px;
    margin-bottom: 5.5px;
    font-size: 36px;
}
.chatDisplayTime {
    color: darkgray;
    width: 11%;
}
.chatDisplayWholeMessage { width: 89%; }
.chatDisplayMessage {
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
}
.bot { color: hotpink;}
.unknown { color: yellow; }
.left { color: var(--mainRed); }
.right { color: var(--mainBlue); }

/* Twitch Chat */
.twitchChatMessageContainer {
    margin-left: 50px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.flagIconsContainer { display: flex; }
.flagImage {
    width: 40px; height: 40px;
    margin-right: 10px;
}
.messageDetail {
    line-height: 40px;
    font-size: 35px;
    letter-spacing: 2px;
}
.messageUser {
    color:rgb(255, 145, 170);
    margin-right: 20px;
}
.chatMessage {
    color: white;
    letter-spacing: 2px;
}

/* --- Moving Score Bars --- */
#movingScoreBars {
    position: absolute; top: -5px;
    width: inherit; height: 18px;
}
/* Moving Score Bar Colours */
.movingScoreBar {
    position: absolute; 
    width: 1920px; height: inherit;
    transition: 500ms ease-in-out;
}
#movingScoreBarRed { right: 50%; }
#movingScoreBarBlue { left: 50%; }
/* Moving Score Bar Arrows */
.movingScoreBarArrow {
    position: absolute;
    height: 18px;
    transition: 200ms ease-in-out;
}
#movingScoreBarRedArrow {
    right: 967px;
    transform: scaleX(-1);
}
#movingScoreBarBlueArrow { left: 967px; }
/* Moving Score Bar Rectangles */
.movingScoreBarRectangle {
    position: absolute;
    width: 936px; height: inherit;
    clip-path: polygon(100% 0%, 100% 100%, 0% 100%, 7px 9px, 7px 0%);
    border-radius: 0 18px 18px 0;
    transition: 200ms ease-in-out;
}
#movingScoreBarRedRectangle {
    right: 27px;
    background-color: var(--mainRed);
    transform: scaleX(-1);
}
#movingScoreBarBlueRectangle {
    left: 27px;
    background-color: var(--mainBlue);
}
/* Moving Score Bar Star */
#movingScoreBarStar {
    position: absolute; top: -19px; left: 50%; transform: translateX(-50%);
}
/* Moving Score Bar Circle */
#movingScoreBarCircle {
    position: absolute; top: 65px; left: 50%;
    transform: translateX(-50%); width: 7px; height: 7px;
    border-radius: 50%;
    background-color: white;
}
/* --- Playing Scores --- */
.playingScore {
    position: absolute; top: 52px;
    font-size: 143px;
}
#playingScoreRed { left: 1183px; transform: translateX(-50%); }
#playingScoreBlue { right: 1183px; transform: translateX(50%); }
#scoreText {
    position: absolute; top: 80px; left: 50%; transform: translateX(-50%);
    font-size: 91px;
}
#playingScoreDifference {
    position: absolute; top: 278px; left: 50%; transform: translateX(-50%);
    font-size: 73px;
    transition: 200ms ease-in-out;
}
/* --- Sponsors --- */
#sponsors {
    position: absolute; top: 271px; left: 1000px;
    height: 77px;
}
#momokaiSponsor {
    position: absolute; top: unset; left: unset;
    height: 77px;
}
#bluebunnySponsorImage { height: 77px; }
#blueberrySponsor {
    position: absolute; top: unset; left: unset;
    height: 52px;
    display: flex;
}
#bluebunnySponsorText {
    font-family: Montserrat;
    line-height: 77px;
    font-size: 54px;
    margin-left: 10px;
}
/* --- Picked by --- */
#pickedByText {
    position: absolute; top: 47px; right: 200px;
    font-size: 70px;
    letter-spacing: -1px;
}
#pickedByFlag {
    position: absolute; top: 43px; right: 38px;
    width: 126px; height: 91px; 
    border-radius: 16px;
    background-size: cover;
    background-position: center;
    background-image: url("https://osuflags.omkserver.nl/AU-126.png")
}
/* --- Now Playing --- */
#nowPlaying {
    position: absolute; right: 0; bottom: 0;
}
/* Now Playing Banner */
#nowPlayingBanner {
    position: absolute; bottom: 181px; right: 0;
    width: 247px; height: 76px;
    border-radius: 10px 0 0 10px;
    background-color: var(--mainRed);
}
#nowPlayingText {
    margin: 13px 0 0 16px;
    font-size: 50px;
}
/* Now Playing Image */
#nowPlayingImage {
    position: absolute; bottom: 44px; right: 39px;
    width: 650px; height: 205px;
    border-radius: 8px;
    background-image: url("https://assets.ppy.sh/beatmaps/1505664/covers/cover.jpg?");
    background-size: cover;
    background-position: center;
}
#nowPlayingLayer {
    position: absolute; top: 0; left: 0;
    width: inherit; height: inherit;
    border-radius: inherit;
    background-color: rgba(0,0,0,0.5);
}
/* Now Playing Stats */
#nowPlayingStats {
    position: absolute; bottom: 0; left: 0;
    width: inherit; height: 80px;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: space-evenly;
}
#nowPlayingStats > * {
    font-size: 50px;
    line-height: 85px;
    letter-spacing: 2px;
}
#nowPlayingStatsSR { color: gold; }
/* Now Playing Song and Difficulty */
.nowPlayingSongDetails {
    position: absolute;
    right: 743px;
    letter-spacing: -0.8px;
    width: max-content;
}
#nowPlayingSongName {
    bottom: 105px;
    font-size: 75px;
}
#nowPlayingDifficultyName {
    bottom: 54px;
    font-size: 49px;
}