:root {
    --mainRed: rgb(254, 36, 86);
    --nowPlayingCardWidth: 959px;
    --nowPlayingWrapperWidth: calc(var(--nowPlayingCardWidth) - 100px);
}

body::-webkit-scrollbar {
    display: none;
}

/* ----- GENERAL HELPER CLASSES ----- */
.mainRedColour { color: var(--mainRed); }

@font-face {
    font-family: "Coluna Rounded";
    src: url("../../fonts/Coluna_Rounded.otf")
}

#main {
    position: absolute; top: 0; left: 0;
    width: 3840px; height: 2160px;
    background-image: url("../static/background.png");
    background-size: cover;
    font-family: "Coluna Rounded";
    color: white;
}

/* ----- TOP SECTION ----- */
/* --- Logo --- */
#logo {
    position: absolute; top: 82px; left: 104px;
    width: 392px;
}

/* --- Round Name Showcase Text --- */
#roundNameShowcaseText {
    position: absolute; left: 794px;
    letter-spacing: -0.25px;
    width: 600px;
}
#roundName {
    position: inherit; top: 70px;
    font-size: 96px;
}
#showcaseText {
    position: inherit; top: 168px;
    font-size: 40px;
}

/* --- Mappool Sheet Info --- */
#mappoolSheetInfo {
    position: absolute; top: 118px; right: 106px;
    display: flex;
    font-size: 54px;
    letter-spacing: 0.4px;
    text-indent: 0.2px;
}
#fullMapoolSheet {
    margin-right: 38px;
    letter-spacing: 0.2px;
}


/* ----- MAP SECTION ----- */
#map {
    position: absolute; top: 286px; right: 0;
    width: 1104px; height: 1154px;
}

#play_triangle { position: absolute; top: 51px; left: 78px; }

/* --- Replayer Now Playing --- */
#replayerNowPlaying {
    position: absolute; top: -6px; right: 70px;
    width: calc(100% - 70px);
    text-align: right;
}
#replayer {
    font-size: 40px;
    letter-spacing: 0.04px;
}
#nowPlaying {
    position: absolute; top: 46px; right: -3px;
    font-size: 62px;
}
#nowPlayingNowText { margin-right: 5px; }
#nowPlayingPlayingText { letter-spacing: 6px; }

/* --- Now Playing Card --- */
#nowPlayingCard {
    position: absolute; top: 135px; left: 78px;
    width: 959px; height: 589px;
    border-radius: 20px;
    background-color: var(--mainRed);
    z-index: 1;
}
/* Now Playing Map */
#nowPlayingMap {
    width: var(--nowPlayingCardWidth); height: 462px;
    border-radius: 20px;
    background-image: url("https://assets.ppy.sh/beatmaps/2067946/covers/cover.jpg");
    background-size: cover;
    background-position: center;
}
#nowPlayingMapLayer {
    width: var(--nowPlayingCardWidth); height: inherit;
    border-radius: inherit;
    background-color: rgba(0,0,0,0.5)
}
.nowPlayingMapInformationWrapper {
    position: absolute; left: 50%; transform: translateX(-50%);
    width: var(--nowPlayingWrapperWidth);
    text-align: center;
    margin: auto;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
}
#nowPlayingMapSongNameWrapper {
    top: 220px; 
    font-size: 88px;
}
#nowPlayingMapDifficultyNameWrapper {
    top: 320px;
    font-size: 48px;
}
#nowPlayingMapMapperNameWrapper {
    top: 383px;
    font-size: 48px;
}
.nowPlayingMapDetail {
    position: relative;
    display: inline-block;
	width: max-content;
}
.textSlide {
    transform: translate(var(--nowPlayingWrapperWidth));
    animation: textSlide 12s linear infinite;
}
@keyframes textSlide {
    0% {transform: translate(0px);}
    11% {transform: translate(0px);}
    80% { transform: translate(calc(-100% + var(--nowPlayingWrapperWidth))); }
    100% { transform: translate(calc(-100% + var(--nowPlayingWrapperWidth))); }

}
#nowPlayingMapDifficultyNamesWrapper, #nowPlayingMapSongNamesWrapper {
    display: none;
    overflow: hidden;
}
/* Now Playing Mapslot */
#nowPlayingMapSlot {
    position: absolute; top: 489px; left: -77px;
    width: 364px; height: 73px;
    color: rgb(30,30,30);
    font-size: 54px;
    border-radius: 0 16px 16px 0;
    background-color: white;
}
#nowPlayingMapSlotText { position: absolute; top: 8px; left: 188px; }
/* Now Playing Mapslide */
.mapSlideInvisibleLeft {
    position: absolute; top: 525px; left: 327px;
    font-size: 22px;
    color: var(--mainRed);
    opacity: 0
}
.mapSlideExtremeLeft {
    position: absolute; top: 507px; left: 372px;
    font-size: 39px;
    color: rgb(255, 99, 135);
    opacity: 1;
}
.mapSlideLeft {
    position: absolute; top: 492px; left: 485px;
    font-size: 62px;
    color: rgb(255, 145, 170);
    opacity: 1;
}
.mapSlideCurrent {
    position: absolute; top: 480px; left: 643px;
    font-size: 82px;
    color: white;
    opacity: 1;
}
.mapSlideRight {
    position: absolute; top: 492px; left: 828px;
    font-size: 62px;
    color: rgb(255, 145, 170);
    opacity: 1;
}
.mapSlideInvisibleRight {
    position: absolute; top: 507px; left: 941px;
    font-size: 39px;
    color: var(--mainRed);
    opacity: 0;
}
/* Going from left to right */
.fromInvisibleLeftToExtremeLeft { animation-name: fromInvisibleLeftToExtremeLeft; }
.fromExtremeLeftToLeft { animation-name: fromExtremeLeftToLeft; }
.fromLeftToCurrent { animation-name: fromLeftToCurrent; }
.fromCurrentToRight { animation-name: fromCurrentToRight; }
.fromRightToInvisibleRight { animation-name: fromRightToInvisibleRight; }
@keyframes fromInvisibleLeftToExtremeLeft {
    0% {
        top: 525px; left: 327px;
        font-size: 22px;
        color: var(--mainRed);
        opacity: 0
    }
    100% {
        top: 507px; left: 372px;
        font-size: 39px;
        color: rgb(255, 99, 135);
        opacity: 1;
    }
}
@keyframes fromExtremeLeftToLeft {
    0% {
        top: 507px; left: 372px;
        font-size: 39px;
        color: rgb(255, 99, 135);
        opacity: 1;
    }
    100% {
        top: 492px; left: 485px;
        font-size: 62px;
        color: rgb(255, 145, 170);
        opacity: 1;
    }
}
@keyframes fromLeftToCurrent {
    0% {
        top: 492px; left: 485px;
        font-size: 62px;
        color: rgb(255, 145, 170);
        opacity: 1;
    }
    100% {
        top: 480px; left: 643px;
        font-size: 82px;
        color: white;
        opacity: 1;
    }
}
@keyframes fromCurrentToRight {
    0% {
        top: 480px; left: 643px;
        font-size: 82px;
        color: white;
        opacity: 1;
    }
    100% {
        top: 492px; left: 828px;
        color: rgb(255, 145, 170);
        font-size: 62px;
        opacity: 1;
    }
}
@keyframes fromRightToInvisibleRight {
    0% {
        top: 492px; left: 828px;
        color: rgb(255, 145, 170);
        font-size: 62px;
        opacity: 1;
    }
    100% {
        top: 507px; left: 941px;
        font-size: 39px;
        color: var(--mainRed);
        opacity: 0;
    }
}
/* From Right to Left */
.fromExtremeLeftToInvisibleLeft { animation-name: fromExtremeLeftToInvisibleLeft}
.fromLeftToExtremeLeft { animation-name: fromLeftToExtremeLeft }
.fromCurrentToLeft { animation-name: fromCurrentToLeft }
.fromRightToCurrent { animation-name: fromRightToCurrent }
.fromInvisibleRightToRight { animation-name: fromInvisibleRightToRight }
@keyframes fromExtremeLeftToInvisibleLeft {
    0% {
        top: 507px; left: 372px;
        font-size: 39px;
        color: rgb(255, 99, 135);
        opacity: 1;
    }
    100% {
        top: 525px; left: 327px;
        font-size: 22px;
        color: var(--mainRed);
        opacity: 0
    }
}
@keyframes fromLeftToExtremeLeft {
    0% {
        top: 492px; left: 485px;
        font-size: 62px;
        color: rgb(255, 145, 170);
        opacity: 1;
    }
    100% {
        top: 507px; left: 372px;
        font-size: 39px;
        color: rgb(255, 99, 135);
        opacity: 1;
    }
}
@keyframes fromCurrentToLeft {
    0% {
        top: 480px; left: 643px;
        font-size: 82px;
        color: white;
        opacity: 1;
    }
    100% {
        top: 492px; left: 485px;
        font-size: 62px;
        color: rgb(255, 145, 170);
        opacity: 1;
    }
}
@keyframes fromRightToCurrent {
    0% {
        top: 492px; left: 828px;
        color: rgb(255, 145, 170);
        font-size: 62px;
        opacity: 1;
    }
    100% {
        top: 480px; left: 643px;
        font-size: 82px;
        color: white;
        opacity: 1;
    }
}
@keyframes fromInvisibleRightToRight {
    0% {
        top: 507px; left: 941px;
        font-size: 39px;
        color: var(--mainRed);
        opacity: 0;
    }
    100% {
        top: 492px; left: 828px;
        color: rgb(255, 145, 170);
        font-size: 62px;
        opacity: 1;
    }
}

/* --- Now Playing Stats Connector --- */
#verticalLine {
    position: absolute; top: 702px; right: 135px;
    width: 9px; height: 737px;
    background-color: white;
    border-radius: 9px;
    z-index: 0;
}
#heartContainer {
    position: absolute; top: 714px; right: 114px;
    width: 50px; height: 17px;
    border-radius: 17px;
    background-color: white;
    z-index: 2;
}
#nowPlayingStatsConnectorHeartImage {
    position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);
}

/* --- Stats Title --- */
#statsTitle {
    position: absolute; top: 762px;
    width: 1042px; height: 80px;
    display: flex;
    justify-content: center;
    font-size: 62px;
    letter-spacing: -0.4px;
}
.statsHearts {
    display: flex;
    align-items: center;
    height: 72px;
}
.statsHeart {
    width: 10px; height: 6px;
    margin: 0 14.6px;
}
#statsText { margin: 0 50px; }

/* --- Stats --- */
#stats {
    position: absolute; top: 858px; left: 83px;
    display: flex; flex-direction: column;
}
.statsContainer {
    position: relative;
    width: 850px; height: 74px;
}
.statsText { font-size: 50px; }
.statsNumber {
    position: absolute; top: 0; right: 168px;
    font-size: 50px;
    letter-spacing: -0.25px;
}
#starRatingNumber { right: 165px; }
.statsPosition {
    position: absolute; top: 24px; right: 7px;
    display: flex;
}
.statsRectangle {
    width: 18px; height: 4px;
    border-radius: 4px;
    background-color: white;
    margin-left: 15px;
}
.statsRectangleRed {
    background-color: var(--mainRed);
}

/* --- Strain Graph --- */
#strainGraph {
    position: absolute; top: 1172px; left: 78px;
    width: 847px; height: 220px;
    background-color: white;
    border-radius: 17px;
}
.strainGraphDetail {
    position: absolute; top: 20px;
    border-radius: 17px;
}
#progress {
	position: absolute; bottom: 0; left: 0;
	width: 1694px; height: 220px;
	padding: 0;
	overflow: hidden;
	transition: 100ms linear;
	-webkit-mask-image: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 49.95%, transparent 50%);
	mask-image: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 49.95%, transparent 50%);
}

/* --- BPM Length Stats --- */
#bpmLenStats {
    position: absolute; top: 1429px; left: 77px;
    display: flex; justify-content: space-between;
    width: 850px;
    font-size: 53px;
    letter-spacing: -0.4px;
}

/* ----- BOTTOM SECTION ----- */
#bottom {
    position: absolute; bottom: 0; left: 0;
    width: inherit; height: 335px;
}
#line {
    position: absolute; top: 5px;
    width: inherit; height: 4px;
    color: rgb(130,130,103)
}
#chatRectangle {
    border-radius: 6px;
    background-color: rgb(254, 36, 86);
    position: absolute; top: 50%; transform:translateY(-50%); left: 129px;
    width: 25px; height: 64px;
}
#chatText {
    position: absolute; top: 50%; transform:translateY(-50%); left: 182px;
    font-size: 53.5px;
    letter-spacing: 2.5px;
}
/* --- Twitch Chat --- */
#chatContainer {
    position: absolute; bottom: 25px; left: 300px;
    width: 2440px; height: 280px;
    border-radius: 50px;
    background-color: rgb(32,32,32);
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
}
#chatContainer::-webkit-scrollbar {
    display: none;
}
.chatMessageContainer {
    margin-left: 50px;
    margin-top: 15px;
    margin-bottom: 15px;
    width: calc(100% - 100px);
    display: flex
}
.flagIconsContainer {
    display: flex;
}
.flagImage {
    width: 50px; height: 50px;
    margin-right: 10px;
}
.messageDetail {
    line-height: 50px;
    font-size: 45px;
    letter-spacing: 2px;
}
.messageUser {
    color:rgb(255, 145, 170);
    margin-right: 20px;
}
.chatMessage {
    color: white;
    letter-spacing: 2px;
}

/* --- Sponsored by --- */
#sponsoredByContainer {
    position: absolute; top: 50%; transform:translateY(-50%); left: 2973px;
    width: 744px; height: 109px;
    background-color: rgb(32,32,32);
    border-radius: 109px;
}
#sponsoredByText {
    position: absolute; top: 27px; left: 80px;
    font-size: 50px;
    letter-spacing: 1.4px;
}
#sponsors > * { transition: 1s ease-in-out }
#momokaiSponsor {
    position: absolute; top: 27px; left: 434px;
    height: 52px;
    opacity: 0;
}
#blueberrySponsor {
    position: absolute; top: 27px; left: 424px;
    height: 52px;
    display: flex;
    opacity: 0;
}
#bluebunnySponsorImage {
    height: 52px;
}
#bluebunnySponsorText {
    font-family: Montserrat;
    line-height: 52px;
    font-size: 38px;
    margin-left: 10px;
}