:root {
    --mainRed: rgb(254, 36, 86)
}

/* ----- GENERAL HELPER CLASSES ----- */
.mainRedColour { color: var(--mainRed); }

@font-face {
    font-family: "Coluna Rounded";
    src: url("../../fonts/Coluna_Rounded.otf")
}

#main {
    position: absolute; top: 0; left: 0;
    width: 1920px; height: 1080px;
    background-image: url("../static/background.png");
    background-size: cover;
    font-family: "Coluna Rounded";
    color: white;
}

/* ----- TOP SECTION ----- */
/* Logo */
#logo {
    position: absolute; top: 41px; left: 52px;
    width: 196px;
}
/* Round Name Showcase Text */
#roundNameShowcaseText {
    position: absolute; left: 397px;
    letter-spacing: -0.1px;
    width: 300px;
}
#roundName {
    position: inherit; top: 35px;
    font-size: 48px;
}
#showcaseText {
    position: inherit; top: 83.5px;
    font-size: 20px;
}
/* Mappool Sheet Info */
#mappoolSheetInfo {
    position: absolute; top: 59px; right: 53px;
    display: flex;
    font-size: 27px;
    letter-spacing: 0.2px;
    text-indent: 0.1px;
}
#fullMapoolSheet {
    margin-right: 18px;
    letter-spacing: 0.1px;
}

/* ----- MAP SECTION ----- */
#map {
    position: absolute; top: 143px; right: 0;
    width: 552px; height: 772px;
}
/* Replayer Now Playing */
#replayerNowPlaying {
    position: absolute; top: -3px; right: 35px;
    width: calc(100% - 35px);
    text-align: right;
}
#replayer {
    font-size: 20px;
    letter-spacing: 0.02px;
}
#nowPlaying {
    position: absolute; top: 23px; right: -3px;
    font-size: 32px;
}
#nowPlayingNowText {
    margin-right: 2.5px;
    letter-spacing: -0.3px;
    font-size: 32px;
}
#nowPlayingPlayingText {
    letter-spacing: 2.7px;
}
/* Stats Title */
#statsTitle {
    position: absolute; top: 386px;
    width: 521px; height: 40px;
    display: flex;
    justify-content: center;
    font-size: 31px;
    letter-spacing: -0.2px;
}
.statsHearts {
    display: flex;
    align-items: center;
    height: 36px;
}
.statsHeart {
    width: 5px; height: 3px;
    margin: 0 7.3px;
}
#statsText {
    margin: 0 25.2px;
}