:root {
    --mainRed: rgb(254, 36, 86)
}

/* ----- GENERAL HELPER CLASSES ----- */
.mainRedColour { color: var(--mainRed); }

@font-face {
    font-family: "Coluna Rounded";
    src: url("../../fonts/Coluna_Rounded.otf")
}

#main {
    position: absolute; top: 0; left: 0;
    width: 3840px; height: 2160px;
    background-image: url("../static/background.png");
    background-size: cover;
    font-family: "Coluna Rounded";
    color: white;
}

/* ----- TOP SECTION ----- */
/* Logo */
#logo {
    position: absolute; top: 82px; left: 104px;
    width: 392px;
}
/* Round Name Showcase Text */
#roundNameShowcaseText {
    position: absolute; left: 794px;
    letter-spacing: -0.25px;
    width: 600px;
}
#roundName {
    position: inherit; top: 70px;
    font-size: 96px;
}
#showcaseText {
    position: inherit; top: 168px;
    font-size: 40px;
}
/* Mappool Sheet Info */
#mappoolSheetInfo {
    position: absolute; top: 118px; right: 106px;
    display: flex;
    font-size: 54px;
    letter-spacing: 0.4px;
    text-indent: 0.2px;
}
#fullMapoolSheet {
    margin-right: 38px;
    letter-spacing: 0.2px;
}

/* ----- MAP SECTION ----- */
#map {
    position: absolute; top: 286px; right: 0;
    width: 1104px; height: 1154px;
}
/* Replayer Now Playing */
#replayerNowPlaying {
    position: absolute; top: -6px; right: 70px;
    width: calc(100% - 70px);
    text-align: right;
}
#replayer {
    font-size: 40px;
    letter-spacing: 0.04px;
}
#nowPlaying {
    position: absolute; top: 46px; right: -3px;
    font-size: 62px;
}
#nowPlayingNowText {
    margin-right: 5px;
}
#nowPlayingPlayingText {
    letter-spacing: 6px;
}
/* Stats Title */
#statsTitle {
    position: absolute; top: 772px;
    width: 1042px; height: 80px;
    display: flex;
    justify-content: center;
    font-size: 62px;
    letter-spacing: -0.4px;
}
.statsHearts {
    display: flex;
    align-items: center;
    height: 72px;
}
.statsHeart {
    width: 10px; height: 6px;
    margin: 0 14.6px;
}
#statsText {
    margin: 0 50px;
}