@font-face {
    font-family: "Coluna Rounded";
    src: url("../../shared/fonts/Coluna_Rounded.otf")
}

#main {
    position: absolute; top: 0; left: 0;
    width: 3840px; height: 2160px;
    background-image: url("../static/background.png");
    background-size: cover;
    font-family: "Coluna Rounded";
    color: white;
}


/* ----- TOP SECTION ----- */
/* --- Team Sections --- */
.teamSection {
    position: absolute; top: 77px;
    width: 550px; height: 125px;
}
#redTeam { left: 1192px; }
#blueTeam { right: 1192px; }
.teamFlag {
    width: 181px; height: 114px;
    border-radius: 15px;
}
#blueTeamFlag { position: absolute; top: 0; right: 0; }
.teamBar {
    position: absolute; top: 4px;
    width: 168px; height: 18px;
    border-radius: 18px;
}
.teamLeftDetail { left: 212px; }
.teamRightDetail { right: 212px; }
#redTeamBar { background-color: rgb(254, 36, 86); }
#blueTeamBar {
    right: 212px;
    background-color: rgb(36, 196, 254);
}
.teamName {
    position: absolute; top: 32px; 
    font-size: 53px;
    letter-spacing: 0.05px;
}
.teamStars { position: absolute; top: 97px; }
.teamStars > * { margin-right: 9.5px;}
#redTeamStars { left: 212px; }
#blueTeamStars { right: 212px; }
/* --- Middle Score --- */
#teamMiddleStar {
    position: absolute; top: 87px; left: 50%; transform:translateX(-50%);
    font-size: 95px;
}
#teamMiddleStarDash { margin: 0 55px; }
/* --- Logo --- */
#logo {
    position: absolute; top: 96px; right: 103px;
    width: 343px;
}


/* ----- BOTTOM SECTION ----- */
#bottom {
    position: absolute; bottom: 0; left: 0;
    width: inherit; height: 335px;
}
#line {
    position: absolute; top: 5px;
    width: inherit; height: 4px;
    color: rgb(130,130,103)
}
#chatRectangle {
    border-radius: 6px;
    background-color: rgb(254, 36, 86);
    position: absolute; top: 50%; transform:translateY(-50%); left: 129px;
    width: 25px; height: 64px;
}
#chatText {
    position: absolute; top: 50%; transform:translateY(-50%); left: 182px;
    font-size: 53.5px;
    letter-spacing: 2.5px;
}
/* --- Twitch Chat --- */
#chatContainer {
    position: absolute; bottom: 25px; left: 300px;
    width: 2440px; height: 280px;
    border-radius: 50px;
    background-color: rgb(32,32,32);
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
}
#chatContainer::-webkit-scrollbar {
    display: none;
}
.chatMessageContainer {
    margin-left: 50px;
    margin-top: 15px;
    margin-bottom: 15px;
    width: calc(100% - 100px);
    display: flex
}
.flagIconsContainer {
    display: flex;
}
.flagImage {
    width: 50px; height: 50px;
    margin-right: 10px;
}
.messageDetail {
    line-height: 50px;
    font-size: 45px;
    letter-spacing: 2px;
}
.messageUser {
    color:rgb(255, 145, 170);
    margin-right: 20px;
}
.chatMessage {
    color: white;
    letter-spacing: 2px;
}

/* --- Sponsored by --- */
#sponsoredByContainer {
    position: absolute; top: 50%; transform:translateY(-50%); left: 2973px;
    width: 744px; height: 109px;
    background-color: rgb(32,32,32);
    border-radius: 109px;
}
#sponsoredByText {
    position: absolute; top: 27px; left: 80px;
    font-size: 50px;
    letter-spacing: 1.4px;
}
#sponsors > * { transition: 1s ease-in-out }
#momokaiSponsor {
    position: absolute; top: 27px; left: 434px;
    height: 52px;
    opacity: 0;
}
#blueberrySponsor {
    position: absolute; top: 27px; left: 424px;
    height: 52px;
    display: flex;
    opacity: 0;
}
#bluebunnySponsorImage {
    height: 52px;
}
#bluebunnySponsorText {
    font-family: Montserrat;
    line-height: 52px;
    font-size: 38px;
    margin-left: 10px;
}