:root {
    --NMColour: rgb(172, 172, 172);
    --HDColour: rgb(254, 154, 36);
    --HRColour: rgb(254, 36, 86);
    --DTColour: rgb(36, 231, 254);
    --FMColour: rgb(255, 77, 186);
    --TBColour: rgb(36, 254, 67);
  
    --NMColour-60: rgb(69, 69, 69);   
    --HDColour-60: rgb(102, 59, 14);  
    --HRColour-60: rgb(102, 14, 34);  
    --DTColour-60: rgb(14, 93, 102);  
    --FMColour-60: rgb(102, 25, 74);  
    --TBColour-60: rgb(14, 102, 28);  
  
    --NMColour-80: rgb(34, 34, 34);   
    --HDColour-80: rgb(51, 29, 7);    
    --HRColour-80: rgb(51, 7, 17);    
    --DTColour-80: rgb(7, 46, 51);    
    --FMColour-80: rgb(51, 12, 37);   
    --TBColour-80: rgb(7, 51, 14);    
}

@font-face {
    font-family: "Coluna Rounded";
    src: url("../../shared/fonts/Coluna_Rounded.otf")
}

#main {
    position: absolute; top: 0; left: 0;
    width: 3840px; height: 2160px;
    background-image: url("../static/background.png");
    background-size: cover;
    font-family: "Coluna Rounded";
    color: white;
}


/* ----- TOP SECTION ----- */
/* --- Large White Star --- */
#whiteStarLarge {
    position: absolute; top: 145px; left: 134px;
}
/* --- Mappool Text Container --- */
#mappoolTextContainer {
    position: absolute; left: 256px;
    width: 190px; height: 213px;
    border-radius: 0 0 21px 21px;
    background-color: var(--HRColour);
}
#mapText {
    position: absolute; top: 110px; left: 37px;
    font-size: 79px;
    letter-spacing: 6px;
}
#poolText {
    position: absolute; top: 110px; left: 217px;
    font-size: 79px;
    letter-spacing: 17px;
}
/* --- Team Sections --- */
/* Team Section */
.teamSection {
    position: absolute; top: 77px;
    width: 550px; height: 125px;
}
#redTeam { left: 1192px; }
#blueTeam { right: 1192px; }
/* Team Flag */
.teamFlag {
    width: 181px; height: 131px;
    border-radius: 15px;
    background-position: center;
    background-size: cover;
}
#blueTeamFlag { position: absolute; top: 0; right: 0; }
/* Team Bar */
.teamBar {
    position: absolute; top: 4px;
    width: 168px; height: 18px;
    border-radius: 18px;
}
.teamLeftDetail { left: 212px; }
.teamRightDetail { right: 212px; }
#redTeamBar { background-color: rgb(254, 36, 86); }
#blueTeamBar {
    right: 212px;
    background-color: rgb(36, 196, 254);
}
/* Team Name */
.teamName {
    position: absolute; top: 32px; 
    font-size: 53px;
    letter-spacing: 0.05px;
}
/* Team Stars */
.teamStars { position: absolute; top: 97px; }
.teamStars > * { 
    margin-right: 17.1px;
    width: 28.8px; height: 27px;
}
#redTeamStars { left: 212px; }
#blueTeamStars { right: 212px; }
#blueTeamStars > * {
    margin-left: 17.1px;
    margin-right: 0;
}
/* --- Middle Score --- */
#teamMiddleStar {
    position: absolute; top: 87px; left: 50%; transform:translateX(-50%);
    font-size: 95px;
}
#teamMiddleStarDash { margin: 0 55px; }
/* --- Logo --- */
#logo {
    position: absolute; top: 96px; right: 103px;
    width: 343px;
}


/* ----- MAPPOOL SECTION ----- */
#mappool {
    position: absolute; top: 300px;
    width: 100%; height: 1480px;
}
/* --- Rectangles ---- */
#modHeaderRectangles > * { position: absolute; }
.leftSideModRectangle {
    left: 0;
    width: 32px; height: 53px;
    border-radius: 0px 5px 5px 0px;
}
#NMRectangle {
    top: 95px; 
    background-color: var(--NMColour);
}
#HDRectangle {
    top: 458px;
    background-color: var(--HDColour);
}
#HRRectangle {
    top: 458px; left: 1906px;
    width: 24px; height: 53px;
    background-color: var(--HRColour);
    border-radius: 5px;
}
#DTRectangle {
    top: 821px; 
    background-color: var(--DTColour);
}
#FMRectangle {
    top: 1179px; 
    background-color: var(--FMColour);
}
#TBRectangle {
    top: 856px; left: 2587px;
    width: 23px; height: 283px;
    background-color: var(--TBColour);
    border-radius: 5px;
}
/* --- Header --- */
#modHeaderNames { font-size: 49px; }
#modHeaderNames > * {
    position: absolute;
    letter-spacing: 3.5px;
}
.leftSideModHeader { left: 55px; }
#NMHeader { top: 95px; }
#HDHeader { top: 458px; }
#HRHeader { 
    top: 458px; 
    left: 1952px;
}
#DTHeader { top: 821px; }
#FMHeader { top: 1179px; }
#TBHeader { 
    top: 979px; 
    left: 2634px;
}

/* --- Card Containers --- */
#FiveNMMapContainer { 
    top: 10px; left: 158px; 
    width: 3580px;
}
.ThreeCardNormalContainer {
    position: absolute;
    width: 1680px;
    display: flex; justify-content: space-between;
}
#SixNMMapContainer1 { top: 10px; left: 158px; }
#SixNMMapContainer2 { top: 10px; left: 2050px; }
#HDMapContainer { top: 374px; left: 158px; }
#HRMapContainer { top: 374px; left: 2050px; }
.DTandFMMapContainer {
    position: absolute; left: 158px;
    width: 2285px;
    display: flex; justify-content: space-between;
}
#DTMapContainer { top: 737px; }
#FMMapContainer { top: 1098px; }

/* --- Map Card Containers --- */
.mapCard {
    position: relative;
    height: 304px;
    border-radius: 17px 17px 0 0;
}
.normalMapCard { width: 474px;  }
.nmExtendedMapCard { width: 530px; }
.bottom3MapsMapCard { width: 658px; }
.fm2MapsMapCard { width: 1032px; }
#TBContainer {
    position: absolute; top: 796px; left: 2739px;
    width: 955px; height: 608px;
    border-radius: 17px 17px 0 0;
}

/* --- Map Card Rectangles --- */
.mapCardRectangle {
    position: absolute; bottom: -15px; left: -36px;
    width: 69px; height: 155px;
    background-color: rgb(22,22,22);
    border-radius: 10px;
}
#tbCardRectangle {
    position: absolute; bottom: -30px; left: -72px;
    width: 138px; height: 310px;
    background-color: rgb(22,22,22);
    border-radius: 10px;
}

/* --- Map Card Images --- */
.mapCardImage {
    position: absolute; width: 100%; height: 200px;
    border-radius: inherit;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}
#tbMapCardImage {
    height: 403px;
}
.mapCardLayer {
    position: absolute; width: 100%; height: 100%;
    background-color: rgba(0,0,0,0.5);
    border-radius: inherit;
}

/* --- Map Card Name --- */
.mapCardName {
    position: relative; top: 219px;
    font-size: 50px;
    letter-spacing: 0.4px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}
#tbMapCardName {
    top: 438px;
    font-size: 100px;
    letter-spacing: 0.8px;
}

/* --- Map Card Difficulty --- */
.normalMapCardDifficulty {
    position: absolute; top: 263px;
    font-size: 36px;
    letter-spacing: 1.3px;
}
#tbMapCardDifficulty {
    position: absolute; top: 526px;
    font-size: 72px;
    letter-spacing: 2.6px;
}

/* --- Map Card Mod --- */
.normalMapCardMod {
    position: absolute; bottom: 0; right: 10px;
    font-size: 64px;
    letter-spacing: 2.5px;
}
#tbMapCardMod {
    position: absolute; bottom: 0; right: 20px;
    font-size: 128px;
    letter-spacing: 5px;
    text-shadow: 0 0 60px var(--TBColour-60),
                 0 0 70px var(--TBColour-80);
    color: var(--TBColour);
}

/* ----- BOTTOM SECTION ----- */
#bottom {
    position: absolute; bottom: 0; left: 0;
    width: inherit; height: 335px;
}
#line {
    position: absolute; top: 5px;
    width: inherit; height: 4px;
    color: rgb(130,130,103)
}
#chatRectangle {
    border-radius: 6px;
    background-color: rgb(254, 36, 86);
    position: absolute; top: 50%; transform:translateY(-50%); left: 129px;
    width: 25px; height: 64px;
}
#chatText {
    position: absolute; top: 50%; transform:translateY(-50%); left: 182px;
    font-size: 53.5px;
    letter-spacing: 2.5px;
}
/* --- Twitch Chat --- */
#chatContainer {
    position: absolute; bottom: 25px; left: 300px;
    width: 1220px; height: 280px;
    border-radius: 50px;
    background-color: rgb(30,30,30);
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
}
#chatContainer::-webkit-scrollbar {
    display: none;
}
.chatMessageContainer {
    margin-left: 50px;
    margin-top: 15px;
    margin-bottom: 15px;
    width: calc(100% - 100px);
    display: flex
}
.flagIconsContainer {
    display: flex;
}
.flagImage {
    width: 50px; height: 50px;
    margin-right: 10px;
}
.messageDetail {
    line-height: 50px;
    font-size: 45px;
    letter-spacing: 2px;
}
.messageUser {
    color:rgb(255, 145, 170);
    margin-right: 20px;
}
.chatMessage {
    color: white;
    letter-spacing: 2px;
}

/* --- Sponsored by --- */
#sponsoredByContainer {
    position: absolute; top: 50%; transform:translateY(-50%); left: 2973px;
    width: 744px; height: 109px;
    background-color: rgb(30,30,30);
    border-radius: 109px;
}
#sponsoredByText {
    position: absolute; top: 27px; left: 80px;
    font-size: 50px;
    letter-spacing: 1.4px;
}
#sponsors > * { transition: 1s ease-in-out }
#momokaiSponsor {
    position: absolute; top: 27px; left: 434px;
    height: 52px;
    opacity: 0;
}
#blueberrySponsor {
    position: absolute; top: 27px; left: 424px;
    height: 52px;
    display: flex;
    opacity: 0;
}
#bluebunnySponsorImage {
    height: 52px;
}
#bluebunnySponsorText {
    font-family: Montserrat;
    line-height: 52px;
    font-size: 38px;
    margin-left: 10px;
}