:root {
	--red: #fd2664;
}

@font-face {
    font-family: Coluna Rounded;
    src: url(../static/fonts/Coluna_Rounded.otf);
}

body,html{
    padding: 0;
    margin: 0;
    overflow-y: hidden;
    overflow: hidden
}

#main{
    font-family: Coluna Rounded;
    font-weight: normal;
    color: white;
	background-color: #000210;
    width: 1920px;
    height: 1080px;
    z-index: 1;
}
#predictionOverlay {
	position: absolute; top: 0; left: 0;
    width: 1920px; height: 1080px;
	z-index: 0;
}

#teamDisplaybuttonleft{
    position: absolute;
    left: 940px;
    top: 880px;
    width: 80px;
    height: 88px;
    border: transparent;
    background-color: transparent;
    z-index: 3;
}
#teamDisplaybuttonright{
    position: absolute;
    left: 1250px;
    top: 880px;
    width: 80px;
    height: 88px;
    border: transparent;
    background-color: transparent;
    z-index: 3;
}
#pastviewCountry{
    position: absolute;
    top: 865px;
    left: 800px;
    background-color: transparent;
    opacity: 0.75;
    height: 175px;
    width: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#pastviewName{
    position: absolute;
    width: fit-content;
    height: 70px;
    font-size: 32px;
    display: flex;
    align-items: center;
    bottom: 0px;
    line-height: 30px;
    text-align: center;
}
#pastviewFlag{
    position: absolute;
    height: 100%;
    width: 120px;
    background-size: contain;
	background-repeat: no-repeat;
    z-index: 3;
}

#currentCountry{
    position: absolute;
    background-color: var(--red);
    width: 210px;
    height: 250px;
    top: 820px;
    left: 1031px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#currentTeamName{
    position: absolute;
    bottom: 0px;
    width: fit-content;
    height: 90px;
    text-align: center;
    color: white;
    background-color: transparent;
    font-family: Coluna Rounded;
    font-size: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 50px /* Center vertically */
}
#currentTeamFlag{
    position: absolute;
    height: 100%;
    width: 200px;
    background-size: contain;
	background-repeat: no-repeat;
    z-index: 3;
    top: -23px;

}

#previewCountry{
    position: absolute;
    top: 865px;
    left: 1332px;
    background-color: transparent;
    opacity: 0.75;
    height: 175px;
    width: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#previewName{
    position: absolute;
    width: fit-content;
    height: 70px;
    font-size: 32px;
    display: flex;
    align-items: center;
    bottom: 0px;
    line-height: 30px;
    text-align: center;
}
#previewFlag{
    position: absolute;
    height: 100%;
    width: 120px;
    background-size: contain;
	background-repeat: no-repeat;
    z-index: 3;
}

/* Cyrrent Song */
#currentSongImage {
    position: absolute; top: 965px; left: 95px;
    background-color: white;
    width: 141px; height: 73px;
    background-size: cover;
    background-position: 50%;
}
#currentSongImageLayer {
    background-color: rgba(0,0,0,0.2);
    width: inherit; height: inherit;
}
.currentSongTextWrappers {
    position: absolute; left: 253px;
    width: 323px; height: 35px;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    font-size: 30px;
    color: white;
    font-family: Coluna Rounded;
}
#currentSongTitleWrapper { top: 965px; }
#currentSongArtistWrapper { top: 1000px; }
.currentSongText {
    width: max-content;
}
.currentSongTextWrap {
    transform: translate(323px);
    animation: displaySlide 12s linear infinite;
}
@keyframes displaySlide {
    0% {transform: translate(0px);}
    11% {transform: translate(0px);}
    80% { transform: translate(calc(-100% + 323px)); }
    100% { transform: translate(calc(-100% + 323px)); }
}

/* Comparison Box */
#compareBox {
    position: absolute;
    width: 670px;
    height: 575px;
    left: 800px;
    top: 225px;
    background-color: transparent; 
    opacity: 0.5;
    font-size: 17px;
    font-family: Coluna Rounded;
    font-weight: normal;
    color: white;
    z-index: 10;
}
.rightbox {
    position: absolute;
    right: 20px;
    border-radius: 15px;
    height: 20px;
    width: 190px;
    border: 5px solid #54ff5d;
    background: black;
    text-align: center;
    padding: 10px 0px;
    text-shadow: 0 0 2px black, 0 0 4px black;
}
.leftbox {
    position: absolute;
    left: 20px;
    border-radius: 15px;
    height: 20px;
    width: 190px;
    border: 5px solid #ff5454;
    background: black;
    text-align: center;
    padding: 10px 0px;
    text-shadow: 0 0 2px black, 0 0 4px black;
}
.pointer {
    position: absolute;
    left: 249px;
    border-top: 10px solid transparent;
    border-left: 20px solid white;
    border-bottom: 10px solid transparent;
}

/* Tier List */
#tierList{
    margin: 0;
    position: absolute;
    left: 230px; top: 90px;
    width: 460px; height: 840px;
    z-index: 2;
}
.tierListRowTop {
    background-color: transparent;
    width: 428px; height: 71px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.tierListRowMiddle {
    background-color: transparent;
    width: 428px; height: 74px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.tierListRowBottom {
    width: 428px; height: 118px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.tierListStandardRowImage {
    margin-left: 8px;
    width: 45px; 
    height: 32.4px;
    background-image: url("../static/flags/Argentina.png");
    background-size: contain;
    background-repeat: no-repeat;
}
.tierListBottomRowImage {
    margin-left: 8px;
    width: 30px; 
    height: 21.4px;
    background-image: url("../static/flags/Argentina.png");
    background-size: contain;
    background-repeat: no-repeat;
}

/* Control Panel */
#controlPanel {
    position: absolute; left: 1920px; top: 0;
    width: 950px;
    height: 1080px;
    background-color: rgb(46, 53, 90);
    color: white;
    /* font-family: RenogareSoft-Regular; */
}
#controlPanelSectionOne {
    width: 250px;
}
#controlPanelSectionTwo {
    position: absolute; right: 450px; top: 0px;
    width: 250px;
}
#controlPanelSectionThree {
    position: absolute; right: 0px; top: 0px;
    width: 450px;
}
.controlPanelAddRemoveSectionButtons {
    position: relative;
    width: 60%;
    height: 60px;
}
#controlPanelAddRemovePlacesTitle {
    margin-top: 10px;
    text-align: center;
    font-size: 24px;
}
.controlPanelButton {
    position: absolute;
    width: 60px; height: 50px;
    color: white;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 5px;
}
.controlPanelButton:active {
    border: 1px solid black;
    color: black;
    background-color: white;
}
.controlPanelAddButton {
    top: 0px; left: 10px;
}
.controlPanelRemoveButton {
    top: 0px; right: 10px;
}
#selectList {
    /*font-family: RenogareSoft-Regular;*/
    color: white;
    background-color: transparent;
    font-size: 13px;
    border: none;
    margin-left: 20px;
    margin-top: 10px;
}
#selectList option {
    width: 210px;
    text-align: center;
    font-size: 9px;
}

#selectList::-webkit-scrollbar {
    display: none;

}


/* Caster */

#castingCouch {
    position: absolute;
    left: 0px;
    top: 315px;
    height: 40px;
    width: 1920px; 
    background-color: transparent;
}
.castBox {
    position: inherit;
    margin-top: 0px;
    height: 15px;
    width: 150px;
    border: 3px solid white;
    text-align: center;
    font-size: 24px;
    vertical-align: middle;
    padding-top: 5px;
    padding-bottom: 15px;
}
#sponsor { position: absolute; left: 75px; bottom: -25px; z-index: 1; }
#caster1{
    left: 7%;
}
#caster2{
    left: 22%;
    transform: translateX(+55%);
}
#caster3{
    left: 50%;
    transform: translateX(-50%);
}
#caster4{
    right: 22.5%;
    transform: translateX(-40%);
}
#caster5{
    right: 7%;
}
#firstcaster {
    position: absolute;
    left: 0px;
}
#secondcaster {
    position: absolute;
    left: 100px;
}
#thirdcaster {
    position: absolute;
    left: 200px;
}
#fourthcaster {
    position: absolute;
    left: 300px;
}
#fifthcaster {
    position: absolute;
    left: 400px;
}

#first {
    top: 50px;
}
#second {
    top: 100px;
}
#third {
    top: 150px;
}
#fourth {
    top: 200px;
}
#fifth {
    top: 250px;
}
#sixth {
    top: 300px;
}
#seventh {
    top: 350px;
}
#eighth {
    top: 400px;
}
#nineth {
    top: 450px;
}
#tenth {
    top: 500px;
}
#eleventh {
    top: 550px;
}

#lastyearplacement{
    position: absolute;
    top: 467px;
    left: 960px;
    z-index: 2;
    font-size: 20px;
}